<a href="/">Voltar</a>
<h2>Adicionar Soldado</h2>
<div class="container-fluid ">
    <form action="gotai/register" method="POST">
        <div class="mb3 container-sm p-4">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Digite um nome">
        </div>
        <div class="mb3 container-sm p-4">
            <label for="patent" class="form-label">Patent:</label>
            <input type="text" class="form-control" id="patent" name="patent">
        </div>
        <div class="mb3 container-sm p-4">
            <label for="squad" class="form-label">Squad:</label>
            <input type="text" class="form-control" id="squad" name="squad">
        </div>
        <div class="mb3 container-sm p-4">
            <label for="weapon" class="form-label">Weapon:</label>
            <input type="text" class="form-control" id="weapon" name="weapon">
        </div>
        <div class="mb3 container-sm p-4">
            <label for="status" class="form-label">Status:</label>
            <input type="text" class="form-control" id="status" name="status">
        </div>
        <div class="mb3 container-sm p-4">
            <label for="steam" class="form-label">Steam:</label>
            <input type="text" class="form-control" id="steam" name="steam">
        </div>
        <div class=" offset-md-5">
                <button type="submit"  class="btn btn-danger m-4">Register Soldier</button>
            </div>
    </form>
</div>