<div class="container-fluid container text-center mt-4">
    <form action="/exercito/update" method="POST">
        <div class="mb3 container-sm p-4">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Digite um nome">
        </div>
        <div class="d-flex justify-content-center ">
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="1" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/1.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="2" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/2.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="3" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/3.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="4" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/4.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="5" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/5.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
            </div>
        </div>
        {{!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        --}}
        <div class="d-flex justify-content-center ">
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="6" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/6.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="7" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/7.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="8" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/8.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="9" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/9.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="10" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/10.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="11" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/11.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
            </div>
        </div>
        {{!--
        //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
        --}}
        <div class="d-flex justify-content-center ">
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="12" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/12.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="13" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/13.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="14" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/14.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="15" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/15.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="16" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/16.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="patent" value="17" name="patent">
                        <label class="form-check-label" for="flexCheckDefault"><img src="img/patents/17.png"
                                alt="Patents" id="patentimage"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb3 container-sm p-4">
            <label for="squad" class="form-label">Squad:</label>
            <input type="text" class="form-control" id="squad" name="squad" value="{{this.steam}}">
        </div>
        <div class="mb3 container-sm p-4">
            <label for="status" class="form-label">Weapon:</label>
            {{!--
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            --}}
            <div class="d-flex justify-content-center ">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="weapons" value="artilharia"
                                name="weapon">
                            <label class="form-check-label" for="flexCheckDefault"><img src="img/weapons/artilharia.png"
                                    alt="Weapons" id="patentimage"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="weapons" value="aviação do exército"
                                name="weapon">
                            <label class="form-check-label" for="flexCheckDefault"><img
                                    src="img/weapons/aviação do exército.png" alt="Weapons" id="patentimage"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="weapons" value="cavalaria"
                                name="weapon">
                            <label class="form-check-label" for="flexCheckDefault"><img src="img/weapons/cavalaria.png"
                                    alt="Weapons" id="patentimage"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="weapons" value="comunicações"
                                name="weapon">
                            <label class="form-check-label" for="flexCheckDefault"><img
                                    src="img/weapons/comunicações.png" alt="Weapons" id="patentimage"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="weapon" value="infantaria"
                                name="weapon">
                            <label class="form-check-label" for="flexCheckDefault"><img src="img/weapons/infantaria.png"
                                    alt="Weapon" id="patentimage"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="weapons" value="intendência"
                                name="weapon">
                            <label class="form-check-label" for="flexCheckDefault"><img
                                    src="img/weapons/intendência.png" alt="Weapons" id="patentimage"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="weapons" value="médico" name="weapons">
                            <label class="form-check-label" for="flexCheckDefault"><img src="img/weapons/médico.png"
                                    alt="Weapons" id="patentimage"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb3 container-sm p-4">
            <label for="status" class="form-label">Status:</label>
            {{!--
            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
            --}}
            <div class="d-flex justify-content-center ">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="status" value="Ativo"
                                name="status">
                            <label class="form-check-label" for="flexCheckDefault" style="color: Green;">Ativo</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="status" value="Inativo"
                                name="status">
                            <label class="form-check-label" for="flexCheckDefault" style="color: Red;">Inativo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="mb3 container-sm p-4">
    <label for="steam" class="form-label">Steam:</label>
    <input type="text" class="form-control" id="steam" name="steam" value="{{this.steam}}">
</div>
<div class="">
    <button type="submit" class="btn btn-danger m-4">Update Soldier</button>
</div>
</form>
</div>
